altgraph==0.17.4
numpy==1.26.3
packaging==24.0
pandas==2.2.0
pyarrow==15.0.0
pyinstaller==6.6.0
pyinstaller-hooks-contrib==2024.5
python-dateutil==2.8.2
pytz==2023.3.post1
setuptools==69.5.1
six==1.16.0
tzdata==2023.4
XlsxWriter==3.1.9
